body{
    font-family: sans-serif;
}

li + li {
    background: black;
    color: white;
}

/* ol li {
    background: black;
    color: white;
} */


#assignment-instructions {
    color: blue;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.second-li code {
    color: green
}